*{
    font-family: cursive;
    color: #92400e;
}
body{
    background-color: #fff7ed;
}
header {
    background-color: #fde68a;
    text-align: center;
}
#hder{
    text-align: center;
    background-color: #fed7aa;
    font-weight: bold;
}
#hder>a{
    text-decoration: none;
}
#image{
    width: 795px;
    height: 536px;
    margin: 20px auto;
   
}
#image>img{
    width: 100%;
    height: 100%;
} 
.content{
    background-color: #ffff; 
}
.content>p,li{
    color: black;
}
li:hover{
    background-color: #78350f;
    color: yellow;
} 
footer{
    text-align: center;
    background-color: #78350f;
    
}
footer>p{
    color: white;
}